extends layout

block content
  nav.navbar.bg-dark.border-bottom.border-body.navbar-expand-lg(style='position: fixed; top: 0; width: 100%; z-index: 5', data-bs-theme='dark')
   a.navbar-brand(type='submit', href='/')
    h1.text-start.fw-normal.fs-2.ms-2.mt-2 S.L. Rossi
   #navbarSupportedContent
    ul.nav.my-3.me-2.px-0.position-absolute.top-0.end-0
      li.nav-item
        a.nav-link.text-light.active(aria-current='page', type='submit', href='/') Home
  .container.text-center(style='margin-top: 120px; position:relative')
    h1.fs-2.fw-bold.ms-2.mt-5 PERFECT #{user}
    h2.my-3 You have filled out the form correctly, #{mail}
    h5
      | We will contact you as soon as possible via email or telephone call.
    svg.bi.bi-calendar-check.my-5(xmlns='http://www.w3.org/2000/svg', width='300', height='300', fill='green', viewbox='0 0 16 16')
      path(d='M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0')
      path(d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z')
    h5 If you can't find our emails, remember to check your spam,
    h5.mb-5 They could have ended up there by mistake.
